@font-face {
  font-family: 'lato--hairline';
  src: url('fonts/lato-hairline-webfont.woff2') format('woff2'),
       url('fonts/lato-hairline-webfont.woff') format('woff'),
       url('fonts/lato-hairline-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
